.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 124px;
    margin-bottom: 160px;
}
.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-clip: padding-box;
    margin-bottom: 15px;
    position: relative;
    cursor: text;
    background-image: radial-gradient(circle at 100% 100%, transparent 12px, #da15b8 12px, #da15b8 14px, transparent 14px), linear-gradient(to right, #da15b8, #8d06cc), radial-gradient(circle at 0% 100%, transparent 12px, #8d06cc 12px, #8d06cc 14px, transparent 14px), linear-gradient(to bottom, #8d06cc, #8d06cc), radial-gradient(circle at 0% 0%, transparent 12px, #8d06cc 12px, #8d06cc 14px, transparent 14px), linear-gradient(to left, #8d06cc, #da15b8), radial-gradient(circle at 100% 0%, transparent 12px, #da15b8 12px, #da15b8 14px, transparent 14px), linear-gradient(to top, #da15b8, #da15b8);
    background-size: 14px 14px, calc(100% - 28px) 2px, 14px 14px, 2px calc(100% - 28px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;

    input {
        border-radius: 20px;
        width: 99%;
        height: 89%;
        border: none;
        outline: none;
        font-weight: 400;
            font-size: 30px;
            line-height: 32px;
            letter-spacing: -1px;

        &::placeholder {
            font-weight: 400;
            font-size: 30px;
            line-height: 32px;
            letter-spacing: -1px;
            color: rgba(230, 225, 239, 1);
        }
    }
}
.search-hints {
    margin-left: -310px;
		&__wrapper {
		}

		&__hint {
            background: #F6F6FA;
            border-radius: 8px;
            padding: 4px 6px 8px 6px;
            
            a{
                background-image: linear-gradient(to right, #DA15B8, #8D06CC);
                font-weight: 550;
                font-size: 16px;
                line-height: 24px;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                text-decoration: none;
            }
		}
}


